<a href="https://colab.research.google.com/github/VIVEK818713/Feature-Engineering/blob/main/1_Feature_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering
##Feature engineering is the process of using domain knowledge to extract features  from raw data.
## we can divide feature engineering into 4 parts
##1. Feature Transformation
###--------- Missing Value imputation
###--------- Handling Categorical feature
###--------- Outlier detection
###--------- Feature Scaling
##2.Feature construction
##3.feature selection
##4.feature extraction

## Feature scaling
## basically it is last thing in the pipeline of feature engineering means after removing missing values,handling categorical feature , handling outlier and before giving the data to the machine learning algorithm you do feature scaling.
## Feature Scaling is a technique to standardize the independent features present in the data in a fixed range.it is very needed for certain machine learning algorithm like KNN.
## first we discuss standardization.
# type of feature scaling
## 1. Standradization
## 2. Normalization

#Zscore Normalization/Standardization
##Z-score normalization is a process that normalizes every value in a dataset such that the mean of all of the values is 0 and the standard deviation is 1.

![image.png]()

## go to kaggle and type social network ads or
## click on this link 
##https://www.kaggle.com/datasets/d4rklucif3r/social-network-ads

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
os.environ['KAGGLE_CONFIG_DIR']='/content/drive/MyDrive/Colab Notebooks/Kaggle json'

In [ ]:
!kaggle datasets download -d d4rklucif3r/social-network-ads

In [ ]:
!unzip /content/social-network-ads.zip

Archive:  /content/social-network-ads.zip
  inflating: Social_Network_Ads.csv

In [ ]:
df=pd.read_csv('/content/Social_Network_Ads.csv')
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

##Train test split

In [ ]:
X=df.drop('Purchased',1)
y=df['Purchased']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.3,
                                                    random_state=0)

X_train.shape, X_test.shape

((280, 2), (120, 2))

##StandardScaler

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# fit the scaler to the train set, 
#it will learn the parameters(like mean and std dev etc...)
scaler.fit(X_train)

# transform train and test sets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
scaler.mean_

array([3.78642857e+01, 6.98071429e+04])

In [ ]:
X_train

     Age  EstimatedSalary
92    26            15000
223   60           102000
234   38           112000
232   40           107000
377   42            53000
..   ...              ...
323   48            30000
192   29            43000
117   36            52000
47    27            54000
172   26           118000

[280 rows x 2 columns]

In [ ]:
X_train_scaled

array([[-1.1631724 , -1.5849703 ],
       [ 2.17018137,  0.93098672],
       [ 0.0133054 ,  1.22017719],
       [ 0.20938504,  1.07558195],
       [ 0.40546467, -0.48604654],
       [-0.28081405, -0.31253226],
       [ 0.99370357, -0.8330751 ],
       [ 0.99370357,  1.8563962 ],
       [ 0.0133054 ,  1.24909623],
       [-0.86905295,  2.26126285],
       [-1.1631724 , -1.5849703 ],
       [ 2.17018137, -0.80415605],
       [-1.35925203, -1.46929411],
       [ 0.40546467,  2.2901819 ],
       [ 0.79762394,  0.75747245],
       [-0.96709276, -0.31253226],
       [ 0.11134522,  0.75747245],
       [-0.96709276,  0.55503912],
       [ 0.30742485,  0.06341534],
       [ 0.69958412, -1.26686079],
       [-0.47689368, -0.0233418 ],
       [-1.7514113 ,  0.3526058 ],
       [-0.67297331,  0.12125343],
       [ 0.40546467,  0.29476771],
       [-0.28081405,  0.06341534],
       [-0.47689368,  2.2901819 ],
       [ 0.20938504,  0.03449629],
       [ 1.28782302,  2.20342476],
       [ 0.79762394,  0.26584866],
       [-0.28081405,  0.15017248],
       [ 0.0133054 , -0.54388463],
       [-0.18277423,  0.15017248],
       [-0.08473441,  0.23692961],
       [ 0.0133054 , -0.25469417],
       [ 2.17018137,  1.104501  ],
       [-1.7514113 ,  0.3526058 ],
       [ 1.87606192,  0.12125343],
       [ 0.40546467, -0.13901799],
       [-1.1631724 ,  0.29476771],
       [ 0.79762394,  1.36477242],
       [-0.28081405, -0.25469417],
       [-1.65337148, -0.05226085],
       [-0.96709276, -0.74631796],
       [ 0.30742485,  0.49720103],
       [-0.08473441, -1.06442747],
       [-1.06513258,  0.58395817],
       [ 0.11134522, -0.80415605],
       [-0.96709276,  1.53828669],
       [-0.67297331,  1.39369146],
       [-1.26121221,  0.49720103],
       [-0.28081405,  0.03449629],
       [-0.08473441,  0.00557724],
       [-0.28081405, -0.89091319],
       [ 0.89566375, -1.35361793],
       [-0.28081405,  2.2323438 ],
       [ 0.99370357,  1.97207239],
       [-1.1631724 ,  0.46828198],
       [-1.26121221,  0.26584866],
       [ 1.38586284,  1.97207239],
       [ 1.28782302, -1.35361793],
       [-0.28081405, -0.28361322],
       [-0.47689368,  1.24909623],
       [-0.77101313,  1.07558195],
       [ 0.99370357, -1.06442747],
       [ 0.30742485,  0.29476771],
       [ 0.99370357,  0.75747245],
       [-0.67297331, -1.49821316],
       [-0.67297331,  0.03449629],
       [ 0.50350449,  1.71180097],
       [ 2.07214155,  0.17909152],
       [-1.94749093, -0.74631796],
       [-0.18277423,  1.39369146],
       [ 0.40546467,  0.58395817],
       [ 0.89566375, -1.1511846 ],
       [-1.1631724 , -0.775237  ],
       [ 0.20938504,  0.23692961],
       [ 0.79762394, -0.31253226],
       [ 2.07214155, -0.80415605],
       [ 0.79762394,  0.12125343],
       [-0.28081405,  0.61287722],
       [-0.96709276, -0.31253226],
       [ 0.20938504, -0.37037036],
       [ 2.07214155,  2.11666762],
       [ 1.87606192, -1.26686079],
       [ 1.38586284, -0.91983223],
       [ 0.89566375,  1.24909623],
       [ 1.48390265,  2.11666762],
       [-0.28081405, -1.23794174],
       [ 1.97410174,  0.90206768],
       [ 0.69958412, -0.71739891],
       [-1.45729185,  0.3526058 ],
       [ 0.79762394, -1.35361793],
       [ 0.40546467, -0.13901799],
       [-0.96709276,  0.41044389],
       [ 0.0133054 , -0.31253226],
       [-1.1631724 ,  0.41044389],
       [-0.86905295, -1.2090227 ],
       [-0.08473441,  0.03449629],
       [-1.55533166, -0.42820845],
       [ 0.99370357, -1.00658937],
       [ 1.09174339, -1.2090227 ],
       [ 0.0133054 , -0.13901799],
       [-1.06513258, -1.52713221],
       [ 0.79762394, -1.2090227 ],
       [ 0.99370357,  2.05882953],
       [-1.1631724 , -1.52713221],
       [-0.28081405,  0.78639149],
       [ 0.11134522, -0.31253226],
       [-1.35925203, -1.23794174],
       [-0.5749335 , -1.49821316],
       [ 0.79762394,  0.52612008],
       [-0.28081405, -0.34145131],
       [ 1.7780221 , -0.28361322],
       [ 0.89566375, -1.03550842],
       [ 0.20938504,  0.06341534],
       [-0.5749335 ,  0.87314863],
       [-1.84945111, -1.41145602],
       [-1.26121221,  0.58395817],
       [-0.28081405,  0.52612008],
       [-0.96709276, -1.09334651],
       [ 1.1897832 , -1.44037507],
       [ 0.20938504, -0.31253226],
       [ 1.1897832 , -0.74631796],
       [-0.28081405,  0.06341534],
       [ 0.20938504,  2.08774857],
       [ 0.79762394, -1.09334651],
       [ 0.11134522,  0.03449629],
       [-1.7514113 ,  0.12125343],
       [-0.86905295,  0.15017248],
       [-0.67297331,  0.17909152],
       [ 0.89566375, -1.29577984],
       [ 0.20938504, -0.25469417],
       [-0.37885386,  1.22017719],
       [ 0.0133054 ,  0.29476771],
       [ 0.40546467,  0.15017248],
       [ 0.89566375, -0.65956082],
       [ 0.11134522,  0.15017248],
       [-1.84945111, -1.29577984],
       [-0.08473441,  0.29476771],
       [-0.18277423, -0.28361322],
       [ 0.30742485, -0.51496559],
       [-0.18277423,  1.59612479],
       [ 0.99370357, -1.18010365],
       [-0.18277423,  1.62504383],
       [ 1.28782302,  1.8563962 ],
       [-1.06513258, -0.37037036],
       [ 0.0133054 ,  0.03449629],
       [ 0.11134522, -0.25469417],
       [-1.55533166, -1.23794174],
       [-0.47689368, -0.28361322],
       [ 0.99370357,  0.12125343],
       [ 1.97410174, -1.35361793],
       [ 1.48390265,  0.06341534],
       [-0.5749335 ,  1.36477242],
       [ 1.58194247,  0.00557724],
       [-0.77101313,  0.29476771],
       [ 1.97410174,  0.7285534 ],
       [-1.1631724 , -0.51496559],
       [ 0.69958412,  0.26584866],
       [-1.35925203, -0.42820845],
       [ 0.20938504,  0.15017248],
       [-0.47689368, -1.2090227 ],
       [ 0.6015443 ,  2.00099143],
       [-1.55533166, -1.49821316],
       [-0.47689368, -0.54388463],
       [ 0.50350449,  1.82747716],
       [-1.35925203, -1.09334651],
       [ 0.79762394, -1.38253697],
       [-0.28081405, -0.42820845],
       [ 1.58194247,  0.98882482],
       [ 0.99370357,  1.42261051],
       [-0.28081405, -0.48604654],
       [-0.08473441,  2.14558666],
       [-1.45729185, -0.11009894],
       [-0.08473441,  1.94315334],
       [-0.67297331, -0.34145131],
       [-0.47689368, -0.8330751 ],
       [ 0.69958412, -1.38253697],
       [-0.77101313, -1.5849703 ],
       [-1.84945111, -1.46929411],
       [ 1.09174339,  0.12125343],
       [ 0.11134522,  1.50936765],
       [-0.28081405,  0.09233438],
       [ 0.11134522,  0.03449629],
       [-1.35925203, -1.35361793],
       [ 0.30742485,  0.06341534],
       [-0.86905295,  0.38152485],
       [ 1.58194247, -1.26686079],
       [-0.28081405, -0.74631796],
       [-0.08473441,  0.15017248],
       [-0.86905295, -0.65956082],
       [-0.67297331, -0.05226085],
       [ 0.40546467, -0.45712749],
       [-0.77101313,  1.88531525],
       [ 1.38586284,  1.27801528],
       [ 1.1897832 , -0.97767033],
       [ 1.7780221 ,  1.82747716],
       [-0.86905295, -0.25469417],
       [-0.77101313,  0.55503912],
       [-1.1631724 , -1.55605125],
       [-0.47689368, -1.12226556],
       [ 0.30742485,  0.06341534],
       [-0.18277423, -1.06442747],
       [ 1.67998229,  1.59612479],
       [ 0.99370357,  1.76963906],
       [ 0.30742485,  0.03449629],
       [-0.77101313, -0.22577513],
       [-0.08473441,  0.06341534],
       [ 0.30742485, -0.19685608],
       [ 1.97410174, -0.65956082],
       [-0.77101313,  1.33585337],
       [-1.7514113 , -0.60172273],
       [-0.08473441,  0.12125343],
       [ 0.30742485, -0.31253226],
       [ 1.09174339,  0.55503912],
       [-0.96709276,  0.26584866],
       [ 1.48390265,  0.3526058 ],
       [ 0.20938504, -0.37037036],
       [ 2.17018137, -1.03550842],
       [-0.28081405,  1.104501  ],
       [-1.65337148,  0.06341534],
       [ 0.0133054 ,  0.03449629],
       [ 0.11134522,  1.04666291],
       [-0.08473441, -0.37037036],
       [-1.1631724 ,  0.06341534],
       [-0.28081405, -1.35361793],
       [ 1.58194247,  1.104501  ],
       [-0.77101313, -1.52713221],
       [ 0.11134522,  1.8563962 ],
       [-0.86905295, -0.775237  ],
       [-0.47689368, -0.775237  ],
       [-0.28081405, -0.91983223],
       [ 0.30742485, -0.71739891],
       [ 0.30742485,  0.06341534],
       [ 0.11134522,  1.8563962 ],
       [-1.06513258,  1.94315334],
       [-1.65337148, -1.55605125],
       [-1.1631724 , -1.09334651],
       [-0.67297331, -0.11009894],
       [ 0.11134522,  0.09233438],
       [ 0.30742485,  0.26584866],
       [ 0.89566375, -0.57280368],
       [ 0.30742485, -1.1511846 ],
       [-0.08473441,  0.67071531],
       [ 2.17018137, -0.68847986],
       [-1.26121221, -1.38253697],
       [-0.96709276, -0.94875128],
       [ 0.0133054 , -0.42820845],
       [-0.18277423, -0.45712749],
       [-1.7514113 , -0.97767033],
       [ 1.7780221 ,  0.98882482],
       [ 0.20938504, -0.37037036],
       [ 0.40546467,  1.104501  ],
       [-1.7514113 , -1.35361793],
       [ 0.20938504, -0.13901799],
       [ 0.89566375, -1.44037507],
       [-1.94749093,  0.46828198],
       [-0.28081405,  0.26584866],
       [ 1.87606192, -1.06442747],
       [-0.37885386,  0.06341534],
       [ 1.09174339, -0.89091319],
       [-1.06513258, -1.12226556],
       [-1.84945111,  0.00557724],
       [ 0.11134522,  0.26584866],
       [-1.1631724 ,  0.32368675],
       [-1.26121221,  0.29476771],
       [-0.96709276,  0.43936294],
       [ 1.67998229, -0.89091319],
       [ 1.1897832 ,  0.52612008],
       [ 1.09174339,  0.52612008],
       [ 1.38586284,  2.31910094],
       [-0.28081405, -0.13901799],
       [ 0.40546467, -0.45712749],
       [-0.37885386, -0.775237  ],
       [-0.08473441, -0.51496559],
       [ 0.99370357, -1.1511846 ],
       [-0.86905295, -0.775237  ],
       [-0.18277423, -0.51496559],
       [-1.06513258, -0.45712749],
       [-1.1631724 ,  1.39369146]])

In [ ]:
X_train_scaled = pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [ ]:
X_train.describe()

              Age  EstimatedSalary
count  280.000000       280.000000
mean    37.864286     69807.142857
std     10.218201     34641.201654
min     18.000000     15000.000000
25%     30.000000     43000.000000
50%     37.000000     70500.000000
75%     46.000000     88000.000000
max     60.000000    150000.000000

In [ ]:
np.round(X_train.describe(), 1)

         Age  EstimatedSalary
count  280.0            280.0
mean    37.9          69807.1
std     10.2          34641.2
min     18.0          15000.0
25%     30.0          43000.0
50%     37.0          70500.0
75%     46.0          88000.0
max     60.0         150000.0

In [ ]:
np.round(X_train_scaled.describe(), 1)

         Age  EstimatedSalary
count  280.0            280.0
mean     0.0              0.0
std      1.0              1.0
min     -1.9             -1.6
25%     -0.8             -0.8
50%     -0.1              0.0
75%      0.8              0.5
max      2.2              2.3

##Effect of Scaling

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2,figsize=(12, 5))

ax1.scatter(X_train['Age'], X_train['EstimatedSalary'])
ax1.set_title("Before Scaling")
ax2.scatter(X_train_scaled['Age'],
            X_train_scaled['EstimatedSalary'],
            color='red')
ax2.set_title("After Scaling")
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2,figsize=(12, 5))

# before scaling
ax1.set_title('Before Scaling')
sns.kdeplot(X_train['Age'], ax=ax1)
sns.kdeplot(X_train['EstimatedSalary'],ax=ax1)

# after scaling
ax2.set_title('After Standard Scaling')
sns.kdeplot(X_train_scaled['Age'], ax=ax2)
sns.kdeplot(X_train_scaled['EstimatedSalary'],ax=ax2)
plt.show()

##Comparison of Distributions

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2,figsize=(12, 5))

# before scaling
ax1.set_title('Age Distribution Before Scaling')
sns.kdeplot(X_train['Age'], ax=ax1)

# after scaling
ax2.set_title('Age Distribution After Standard Scaling')
sns.kdeplot(X_train_scaled['Age'],ax=ax2)
plt.show()

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2,figsize=(12, 5))

# before scaling
ax1.set_title('Salary Distribution Before Scaling')
sns.kdeplot(X_train['EstimatedSalary'],ax=ax1)

# after scaling
ax2.set_title('Salary Distribution Standard Scaling')
sns.kdeplot(X_train_scaled['EstimatedSalary'],ax=ax2)
plt.show()

#Why scaling is important?

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()
lr_scaled = LogisticRegression()

In [ ]:
lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled,y_train)

In [ ]:
y_pred = lr.predict(X_test)
y_pred_scaled = lr_scaled.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("Actual",accuracy_score(y_test,y_pred))
print("Scaled",accuracy_score(y_test,y_pred_scaled))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier()
dt_scaled = DecisionTreeClassifier()

In [ ]:
dt.fit(X_train,y_train)
dt_scaled.fit(X_train_scaled,y_train)

In [ ]:
y_pred = dt.predict(X_test)
y_pred_scaled = dt_scaled.predict(X_test_scaled)

In [ ]:
print("Actual",accuracy_score(y_test,y_pred))
print("Scaled",accuracy_score(y_test,y_pred_scaled))

In [ ]:
df.describe()

##Effect of Outlier

In [ ]:
df = df.append(pd.DataFrame({'Age':[5,90,95],
                             'EstimatedSalary':[1000,250000,350000],
                             'Purchased':[0,1,1]}),ignore_index=True)
df

In [ ]:
plt.scatter(df['Age'], df['EstimatedSalary'])

In [ ]:
X=df.drop('Purchased',1)
y=df['Purchased']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.3,
                                                    random_state=0)

In [ ]:
X_train.shape, X_test.shape

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# fit the scaler to the train set, it will learn the parameters
scaler.fit(X_train)

# transform train and test sets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
X_train_scaled = pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(12, 5))

ax1.scatter(X_train['Age'], X_train['EstimatedSalary'])
ax1.set_title("Before Scaling")
ax2.scatter(X_train_scaled['Age'], 
            X_train_scaled['EstimatedSalary'],
            color='red')
ax2.set_title("After Scaling")
plt.show()

## **where we should use standardization**
##1. K-mean
##2. KNN
##3. ANN
##4. gradient Descent
##5. PCA

## **where you can avoid standardization**
## random forest
## decision tree
## gradient boost
## XGBOOST

# Normalization
##The measurement unit used can affect the data analysis. For instance, changing the measurement unit from kg to pounds. Expressing an attribute in smaller units will lead to a larger range for that attribute and thus give inefficient results. To avoid the dependence on the choice of measurement units, the data should be normalized. Normalization is used for scaling the data of attributes so that it falls in a smaller range, such as -2.0 to 2.0. It is usually used in classification algorithms.
## Normalization is a technique often applied as part of data preparation for machine learning. The goal of normalization is to change the values of numeric columns in the dataset to use a common scale, without distorting differences in the ranges of values or losing information.
## if your are working in m/c learning then eliminate the units.if you are working with units then there will be problem.you sholuld work on common scale then work on this.
##for example weight may be in kg,miligm,grams etc. in unit so eliminate units
# Types of normalization
##1. Min Max scaling
##2. Mean normalization
##3. max absolute 
##4. robust scaling

##Normalization is good to use when you know that the distribution of your data does not follow a Gaussian distribution. This can be useful in algorithms that do not assume any distribution of the data like K-Nearest Neighbors and Neural Networks.
##Standardization, on the other hand, can be helpful in cases where the data follows a Gaussian distribution. However, this does not have to be necessarily true. Also, unlike normalization, standardization does not have a bounding range. So, even if you have outliers in your data, they will not be affected by standardization.
##However, at the end of the day, the choice of using normalization or standardization will depend on your problem and the machine learning algorithm you are using. There is no hard and fast rule to tell you when to normalize or standardize your data. You can always start by fitting your model to raw, normalized and standardized data and compare the performance for best results.

## Min Max Normalization:
###Min-max normalization is one of the most common ways to normalize data. For every feature, the minimum value of that feature gets transformed into a 0, the maximum value gets transformed into a 1, and every other value gets transformed into a decimal between 0 and 1.

##Another way to normalize the input features/variables (apart from the standardization that scales the features so that they have Î¼=0and Ïƒ=1) is the Min-Max scaler. By doing so, all features will be transformed into the range [0,1] meaning that the minimum and maximum value of a feature/variable is going to be 0 and 1, respectively.

![image.png]()

#Why to normalize prior to model fitting?
##The main idea behind normalization/standardization is always the same. Variables that are measured at different scales do not contribute equally to the model fitting & model learned function and might end up creating a bias. Thus, to deal with this potential problem feature-wise normalization such as MinMax Scaling is usually used prior to model fitting.

##This can be very useful for some ML models like the Multi-layer Perceptrons (MLP), where the back-propagation can be more stable and even faster when input features are min-max scaled (or in general scaled) compared to using the original unscaled data.

##Note: Tree-based models are usually not dependent on scaling, but non-tree models models such as SVM, LDA etc. are often hugely dependent on it.

In [ ]:
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [ ]:
#seaborn has many dataset you canget dataset from this link
#  https://github.com/mwaskom/seaborn-data
# Or if you know the dataset you just write sns.load_dataset("dataset name")
df = sns.load_dataset("titanic")
df.head()

In [ ]:
df2 = df[['survived',"pclass",'age','parch']]
df2.head()

In [ ]:
df3 = df2.fillna(df2.mean())

In [ ]:
X = df3.drop("survived", axis = 1)
y = df3["survived"]
print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

In [ ]:
X_train, X_test, y_train, y_test =train_test_split(X, y, 
                                                   test_size=0.2, 
                                                   random_state=51)
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

In [ ]:
mmc = MinMaxScaler()
mmc.fit(X_train)

In [ ]:
X_train_mmc = mmc.transform(X_train)
X_test_mmc = mmc.transform(X_test)

In [ ]:
X_train_mmc =  pd.DataFrame(X_train_mmc,columns=['pclass','age','parch'])
X_test_mmc =  pd.DataFrame(X_test_mmc,columns=['pclass','age','parch'])

In [ ]:
X_train_mmc.describe()

In [ ]:
X_train_mmc.describe().round(2)

In [ ]:
sns.pairplot(X_train)

In [ ]:
sns.pairplot(X_train_mmc)

##Python working example
##Here we will use the famous iris dataset that is available through scikit-learn.

In [ ]:
from sklearn.datasets import load_iris
from sklearn.preprocessing import MinMaxScaler
import numpy as np
# use the iris dataset
X, y = load_iris(return_X_y=True)
print(X.shape)
# (150, 4) # 150 samples (rows) with 4 features/variables (columns)
# build the scaler model
scaler = MinMaxScaler()
# fit using the train set
scaler.fit(X)
# transform the test test
X_scaled = scaler.transform(X)
# Verify minimum value of all features
X_scaled.min(axis=0)
# array([0., 0., 0., 0.])
# Verify maximum value of all features
X_scaled.max(axis=0)
# array([1., 1., 1., 1.])
# Manually normalise without using scikit-learn
X_manual_scaled = (X-X.min(axis=0))/(X.max(axis=0)-X.min(axis=0))
# Verify manually VS scikit-learn estimation
print(np.allclose(X_scaled, X_manual_scaled))
#True

##The effect of the transform in a visual example

In [ ]:
import matplotlib.pyplot as plt
fig, axes = plt.subplots(1,2)
axes[0].scatter(X[:,0], X[:,1], c=y)
axes[0].set_title("Original data")
axes[1].scatter(X_scaled[:,0], X_scaled[:,1], c=y)
axes[1].set_title("MinMax scaled data")
plt.show()