<a href="https://colab.research.google.com/github/VIVEK818713/Feature-Engineering/blob/main/6_Handling_Mixed_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handle mixed data 
## when you are working on machine learning then it may be your dataset having mixed data then you have to deal with. Mixed data means you have numerical and categorical data in the ciolumns.
## it may be your data in the column have data like C34, A2,D5 .. here we have both kind of values.if you know the railway ticket it has value like S5,S6 ... means S is sleeper class and 5 is compartment number.
## So we have to create 2 different columns . first column is for categorical value and second for numerical value.
## Now your categorical column will have value C,A,D...and numerical column will have value 34,2,5..
## Number-----Category
## 34 ---------------C
## 2  ---------------- A
## 5  ---------------- D

## there is an another case where your column has mixed value like[1,22,44,A,4,D,..].\

## then you have to split your column into 2 column first is categorical and second is numerical .like this
## Number-----Category
## 1 ---------------- NA
## 22 ----------------NA
## 44 ----------------NA
## 4 ---------------- NA
## NA ----------------A
## NA ----------------D

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
os.environ['KAGGLE_CONFIG_DIR']='/content/drive/MyDrive/Colab Notebooks/Kaggle json'

In [ ]:
!kaggle datasets download -d hesh97/titanicdataset-traincsv

In [ ]:
!unzip /content/titanicdataset-traincsv.zip

In [ ]:
df=pd.read_csv('/content/train.csv')
df.head()

##To understand Mixed value both type we are adding sibsp and parch value and make a new column namely 'number'.

In [ ]:
df['number']=df['SibSp']+df['Parch']

In [ ]:
df.head()

In [ ]:
df.number=df.number.replace(0,'A')

In [ ]:
df.head()

##or discuss mixed values we consider only 4 column which are Cabin Ticket number Survived.

In [ ]:
df=df.drop(columns=['PassengerId','Pclass','Name','Sex','Age','SibSp','Parch','Fare','Embarked'],axis=1)

In [ ]:
df.head()

##if you observe df then we have both situation in which mixed value can be present in the columns.

In [ ]:
df['number'].unique()

##firstly we are working on number column and split it into 2 columns number_umerical and number_categorical.as shown below.

In [ ]:
# extract numerical part
df['number_numerical'] = pd.to_numeric(df["number"],errors='coerce',downcast='integer')

In [ ]:
# extract categorical part
df['number_categorical'] = np.where(df['number_numerical'].isnull(),df['number'],np.nan)

df.head()

##Now work on cabin and ticket column in these column values are mixed, so let's split it

In [ ]:
df['Cabin'].unique()

In [ ]:
df['Ticket'].unique()

In [ ]:
df['cabin_num'] = df['Cabin'].str.extract('(\d+)') # captures numerical part
df['cabin_cat'] = df['Cabin'].str[0] # captures the first letter

In [ ]:
df['cabin_cat'].value_counts().plot(kind='bar')

In [ ]:
df.head()

In [ ]:
# extract the last bit of ticket as number
df['ticket_num'] = df['Ticket'].apply(lambda s: s.split()[-1])
df['ticket_num'] = pd.to_numeric(df['ticket_num'],
                                   errors='coerce',
                                   downcast='integer')

# extract the first part of ticket as category
df['ticket_cat'] = df['Ticket'].apply(lambda s: s.split()[0])
df['ticket_cat'] = np.where(df['ticket_cat'].str.isdigit(), np.nan,
                              df['ticket_cat'])

In [ ]:
df.head()

# Working with date and Time
## if your dataset have a column which have date and time value then you sholud know how this values have information with in.
## if you have date data like 22-oct-2022 then what is the--
##day
## month
## year
## day of week
## quater
## semester
## weekend ....
##if your data have time then what is hour,minute,second etc information reside in and how can we extraxt it.
## So now we will discuss it . for this we will take 2 dataset order.csv for date and messages.csv for time

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
date=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/0machine learning/csv data/order.csv')

In [ ]:
date.head()

In [ ]:
date.info()

#Working with Dates

In [ ]:
# Converting to datetime datatype
date['date'] = pd.to_datetime(date['date'])

In [ ]:
date.info()

#1. Extract year

In [ ]:
date['date_year'] = date['date'].dt.year

date.sample(5)

#2. Extract Month

In [ ]:
date['date_month_no'] = date['date'].dt.month

date.head()

#3 Extract Month name

In [ ]:
date['date_month_name'] = date['date'].dt.month_name()

date.head()

#4.Extract Days

In [ ]:
date['date_day'] = date['date'].dt.day

date.head()

#5.day of week

In [ ]:
date['date_dow'] = date['date'].dt.dayofweek

date.head()

#6.day of week - name

In [ ]:
date['date_dow_name'] = date['date'].dt.day_name()

date.drop(columns=['product_id','city_id','orders']).head()

#7.is weekend?

In [ ]:
date['date_is_weekend'] = np.where(date['date_dow_name'].isin(['Sunday', 'Saturday']), 1,0)

date.drop(columns=['product_id','city_id','orders']).head()

#8.Extract week of the year

In [ ]:
date['date_week'] = date['date'].dt.week

date.drop(columns=['product_id','city_id','orders']).head()

#9.Extract Quarter

In [ ]:
date['quarter'] = date['date'].dt.quarter

date.drop(columns=['product_id','city_id','orders']).head()

#10.Extract Semester

In [ ]:
date['semester'] = np.where(date['quarter'].isin([1,2]), 1, 2)

date.drop(columns=['product_id','city_id','orders']).head()

#11.Extract Time elapsed between dates

In [ ]:
import datetime

today = datetime.datetime.today()

today

In [ ]:
today - date['date']

In [ ]:
(today - date['date']).dt.days

In [ ]:
# Months passed

np.round((today -date['date']) / np.timedelta64(1, 'M'),0)

# Now work on time

In [ ]:
time_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/0machine learning/csv data/messages.csv')

In [ ]:
time_df.head()

In [ ]:
time_df.info()

In [ ]:
# Converting to datetime datatype
time_df['date'] = pd.to_datetime(time_df['date'])

In [ ]:
time_df.info()

In [ ]:
time_df['hour'] = time_df['date'].dt.hour
time_df['min'] = time_df['date'].dt.minute
time_df['sec'] = time_df['date'].dt.second

time_df.head()

#Extract Time part

In [ ]:
time_df['time'] = time_df['date'].dt.time

time_df.head()

#Time difference

In [ ]:
today - time_df['date']

In [ ]:
# in seconds

(today - time_df['date'])/np.timedelta64(1,'s')

In [ ]:
# in minutes

(today - time_df['date'])/np.timedelta64(1,'m')

In [ ]:
# in hours

(today - time_df['date'])/np.timedelta64(1,'h')